*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
}

#leftup{
    width: 80%;
    height: 70%;
    background-image: url(https://images.unsplash.com/photo-1501004318641-b39e6451bec6?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    
}



#leftdown{
    position: absolute;
    height: 30%;
    width: 80%;
    background-color: rgb(18, 18, 18);
    top: 70%;
    padding: 60px 100px ;
}



#content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contentleft{
    width: 45%;
    height: 30px;
    color: aliceblue;
}

#contentleft p{
    width: 70%;
    font-size: 12px;
    margin-top:  10px;
}


#contentright{
    width: 45%;
    height: 30px;
    color: aliceblue;

}

.row{
    display: flex;
margin-top: 20px;
justify-content: space-between;
}

.relemtext h6{
    opacity: 0.5;
    font-weight: 500;
}


.relem{
    display: flex;
}

.relemtext{
    margin-left: 10px;
}

#right{
    width: 20%;
    height: 100%;

}

#right #rightup{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    padding: 70px;
    background-color: rgb(247, 246, 249);
}



#rightup a{
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

#rightup #selected{
    position: relative;
    
    margin-left: 20px;
}

#rightup #selected::before{
        content: "";
        position: absolute;
        
        width: 10px  ;
        left: -20px;
        top: 41%;
        height:2px;
        background-color: black;
}

#icon{
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#icon i{
    font-size: 20px;
}

#bottomflower{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 120px;
    background-size: cover;
    background-position: bottom;
    background-image: url(https://images.unsplash.com/photo-1533038590840-1cde6e668a91?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#bottomflower i{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    width: 30px ;
    background-color: #0000007f;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

#rightdown{
    position: relative;
    width: 100%;
    height: 30%;
    background-image: url(https://images.unsplash.com/photo-1587334274328-64186a80aeee?q=80&w=1781&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    padding: 60px 100px ;
    
}

#capsule{
    position: absolute;
    width: 90%;
    border-radius: 10px;
    bottom: 5%;
    left: 50%;
    padding: 10px,20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform:  translate(-50%,0);
}

#capsule h5{
    margin-left: 5px;
    margin-top: 5px
}
#capsule h2{

    font-size: 19px;
    line-height: 1;
    padding: 5px;
    left: 1px;
}

.relem i{
    color: green;
}